.container{margin: auto;padding: 0 10% 10%;}
.review{position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;   background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
.review_pop{position: absolute;top: 05%;left: 35%;width: 31%; padding: 10px 40px;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); background-color: #fff;text-align: center;outline: none;font-size: 16px;}
.review h3{font-size: 16px;font-weight: 600;color: #505050;margin: 12px 10px;}
.button1 {color: #000;}
.card{ margin: 20px 0 0}
.card p{font-size: 16px;font-weight: 600;line-height: 1.25;}
.card_info{border-bottom: 1px solid #ddd;margin: 5px 0 44px !important;padding-bottom: 6px;}
.card_info p{ font-size: 16px;font-weight: 500;line-height: 1.25;}
.fixed{margin: 0;}
.fixed p{font-size: 16px;font-weight: 600;line-height: 1.25;}
.fixed_info{border-bottom: 1px solid #ddd;margin: 15px 0 10px;padding-bottom: 20px;}
.fixed_info p{ font-size: 16px;font-weight: 500;line-height: 1.25;}
.fixed_interest{border-bottom: 1px solid #ddd;margin: 5px 0 5px;padding-bottom: 15px;}
.fixed_interest p{ font-size: 16px;font-weight: 500;line-height: 1.25;margin: 0 0 5px;}
.fixed_interest span{font-size: 12px;font-weight: 500;line-height: 1.42;color: #999;float:left}
.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root{background-color: #fff !important;color:#000 !important}
.css-kmxb0e-MuiButtonBase-root-MuiButton-root{background-color: #3857ff !important;color:#fff !important;padding: 6px 16px;border-radius: 8px;margin-top: 35px;}

.close{position: absolute;right: 24px;top: 25px;font-size: 17px;color: #999;}
